.row.text-center
  .col-12
    %h1 Investments Records

%table.table.table-hover.table-striped
  %thead
    %tr
      %th.text-center ID
      %th.text-center Currency
      %th.text-right Balance
      %th.text-center Options

  %tbody
    - @investments.each do |investment|
      %tr
        %td.text-center
          = investment.id
        %td.text-center
          %h3
            %span.badge.badge-success
              = investment.currency
        %td.text-right
          %h3
            %span.badge.badge-success
              = number_to_currency(investment.balance, :unit => "$")
        %td.text-center
          = link_to "Show", investment, class: "btn btn-primary"

