%table.table.table-hover.table-striped
	%thead
		%tr
			%th{scope: "col"} Moneda
			%th{scope: "col"} Valor en USD
	%tbody
		- @exchange_rates.each do |exchange_rate|
			%tr
				%td 
					= exchange_rate[:asset_id_base]
				%td 
					= exchange_rate[:rate]