/ %nav.navbar.bg-dark.border-bottom.border-body{"data-bs-theme" => "dark"}
%nav.navbar.navbar-expand-lg.bg-body-tertiary.bg-dark{"data-bs-theme" => "dark"}
  .container-fluid
    %a.navbar-brand{href: root_path} Disruptive Test
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link{href: investments_path} Investments